tree-sitter
tree-sitter-python
colorama
bm25s
chromadb
click
colorama
datasets
GitPython
hydra-core
instructor
ipdb
jinja2
lancedb
loguru
networkx
numpy
omegaconf
openai
pandas
pydantic
qdrant_client
rich
sacrebleu
sqlalchemy
tenacity
together
tiktoken
tqdm